/* chl2_w_compactNews.css */

/* Styles for the compact news widget. This file relies on core.css */

/*
Usage:
<div class="chl2_w_compactNews chl2_panel">
	<div class="chl2_wrapper">
		<div class="chl2_header"></div>
		<div class="chl2_body">
			<div class="chl2_2Column">
				<div class="chl2_left">
					<div class="chl2_imageTextGroup">
						<div class="chl2_image">
							<a href="#">[image]</a>
						</div>
						<div class="chl2_text">
							<h6><a href="#">[main article title]</a></h6>
							<span class="chl2_date">[date]</span>
							[content...]
						</div>
						<div class="chl2_clear"></div>
					</div>
				</div>
				<div class="chl2_right">
					<div class="chl2_rowCollection">
						<div class="chl2_row">
							<span class="chl2_date">[date]</span>
							<a href="#">[title]</a>
						</div>
						<div class="chl2_row">
							<span class="chl2_date">[date]</span>
							<a href="#">[title]</a>
						</div>
						<div class="chl2_row">
							<span class="chl2_date">[date]</span>
							<a href="#">[title]</a>
						</div>
						<div class="chl2_row chl2_last">
							<a href="#" class="chl2_rss">RSS</a>&nbsp;|&nbsp;<a href="#" class="chl2_action">More News for [category]</a>
						</div>
					</div>
				</div>
				<div class="chl2_clear"></div>
			</div>
		</div>
		<div class="chl2_footer"></div>
	</div>
</div>
*/

.chl2_w_compactNews {

}

.chl2_w_compactNews h6 {
	margin:0;
	margin-top:0.25em;
	padding:0;
}

.chl2_w_compactNews .chl2_2Column {
	padding:0.25em 0;
	border-top:solid 1px #bcbcbc;
	border-bottom:solid 1px #bcbcbc;
	background:url('../images/chl/chl_2Column.gif') repeat-y 50% top;
}

.chl2_w_compactNews .chl2_left {
	width:50%;
}

.chl2_w_compactNews .chl2_right {
	width:50%;
}

.chl2_w_compactNews .chl2_imageTextGroup {
	padding-right:0.5em;
}

.chl2_w_compactNews .chl2_image {
	width:110px;
	float:left;
}

.chl2_w_compactNews .chl2_text {
	margin-left:110px;
	padding-left:1em;
}

.chl2_w_compactNews .chl2_row {
	margin-bottom:0.25em;
}

.chl2_w_compactNews .chl2_row.chl2_last {
	border:none;
}

.chl2_w_compactNews .chl2_right .chl2_rowCollection {
	padding-left:0.5em;
	border:none;
}

.chl2_w_compactNews .chl2_date {
	padding-right:0.25em;
}
