/* chl2_w_compactEvent.css */

/* Styles for the comment widget. This file relies on core.css */

/*
Usage:

<div class="chl2_w_latestNews">
	<div class="chl2_2Column">
		<div class="chl2_left">
			<div class="chl2_imageTextGroup">
				<div class="chl2_image">
					<a href="#">[image]</a>
				</div>
				<div class="chl2_text">
					<h5><a href="#">[title - main news article]</a></h5>
					<span class="chl2_date">[date]</span>
					[content...]
				</div>
				<div class="chl2_clear"></div>
			</div>
		</div>
		<div class="chl2_right">
			<div class="chl2_rowCollection">
				<div class="chl2_row chl2_odd chl2_first">
					<div class="chl2_imageTextGroup">
						<div class="chl2_image">
							<a href="#">[image]</a>
						</div>
						<div class="chl2_text">
							<h6><a href="#">[news article 1]</a></h6>
							<span class="chl2_date">[date]</span>
							[content...]
						</div>
						<div class="chl2_clear"></div>
					</div>
				</div>
				[news article 2...etc]
				<div class="chl2_row chl2_odd chl2_last">
					<a class="chl2_rss" href="#">Latest News RSS</a>
				</div>
			</div>
		</div>
		<div class="chl2_clear"></div>
	</div>
</div>

*/

.chl2_w_latestNews {
	border-top:solid 1px #bcbcbc;
	border-bottom:solid 1px #bcbcbc;
}

.chl2_w_latestNews .chl2_2Column {
	padding:0.5em 0;
	background:url('../images/chl/chl_2Column.gif') repeat-y 286px 0;
}

.chl2_w_latestNews h5 {
	margin-top:0;
	padding-top:0;
}

.chl2_w_latestNews h6 {
	margin-top:0;
	padding-top:0;
}

.chl2_w_latestNews .chl2_rowCollection {
	border-top:none;
}

.chl2_w_latestNews .chl2_row {
	padding-top:0.5em;
}

.chl2_w_latestNews .chl2_odd,
.chl2_w_latestNews .chl2_even {
	background:none;
}

.chl2_w_latestNews .chl2_first {
	border-top:none;
}

.chl2_w_latestNews .chl2_last {
	border-bottom:none;
}

.chl2_w_latestNews .chl2_left {
	padding:0.25em 0;
	margin-right:-276px;
	width:276px;
}

.chl2_w_latestNews .chl2_left .chl2_imageTextGroup {
	width:276px;
}

.chl2_w_latestNews .chl2_left .chl2_image {
	width:276px;
}

.chl2_w_latestNews .chl2_left .chl2_text {
	padding:0.5em;
}

.chl2_w_latestNews .chl2_right {
	margin-left:276px;
	padding-left:20px;
}

.chl2_w_latestNews .chl2_right .chl2_image {
	width:156px;
	float:left;
}

.chl2_w_latestNews .chl2_right .chl2_text {
	margin-left:156px;
	padding-top:0.5em;
	padding-left:1em;
}

.chl2_w_latestNews .chl2_date {
	padding-right:0.25em;
}