/* resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	border:0;
	outline:0;
	background:transparent;
}

blockquote, q {
	quotes:none;
}

:focus {
	outline:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

body {
	font-family:"Arial", sans-serif;
	font-size:14px;
	line-height:20px;
	color:#222;
	background:#bcbcbc url('../images/ui/body.png') repeat-y 50% 0;
}

/* basic styles */

h1 {
	margin-bottom:10px;
	font-size:24px;
	font-weight:normal;
	color:#a64b42;
	line-height:30px;
}

h1.hidden {
	position:absolute;
	left:-900em;
}

h2 {
	margin-bottom:10px;
	font-size:18px;
	font-weight:normal;
	color:#a64b42;
}

.sidebar .chl2_panel h2 {
	font-size:14px;
	font-weight:bold;
	color:#222;
}

h3 {
	font-size:14px;
	font-weight:bold;
	color:#a64b42;	
}

.sidebar .chl2_panel h3 {
	color:#222;
}

h4 {
	font-size:14px;
	font-weight:bold;
}

p {
	margin:0;
	margin-bottom:20px;
	padding:0;
}

a, a:visited,
.chl2_w_comment .chl2_minorLink {
	color:#1f5c99;
	text-decoration:none;
}

a:hover {
	color:#222;
}

a img {
	border:none;
}

:focus {
	outline:0;
}

ul, ol {
	margin:0;
	padding:0;
	padding-left:10px;
	margin-bottom:20px;
	list-style-position:inside;
}

ul ul, 
ul ol, 
ol ol, 
ol ul {
	margin:0;
}

hr {
	margin:0;
	margin-bottom:20px;
	padding:0;
	height:2px;
	color:#bfd3e5;
	background-color:#bfd3e5;
	border:none;
}

blockquote {
	margin-bottom:20px;
	font-style:italic;
	color:#a64b42;
}

/* structure */

#Page {
	margin:auto;
	width:960px;
	overflow:hidden;
}
		
#Header {
	margin:auto;
	padding:0 10px;
	position:relative;
	width:940px;
	height:130px;
	color:#fff;
	background:url('../images/ui/header.png') no-repeat 0 0;
	overflow:hidden;
}

#Header h1 {
	margin:0;
	padding:0 10px;
	position:absolute;
	left:0;
	bottom:60px;
	line-height:20px;
}

#Header h1 img {
	display:block;
}

#Header a {
	color:#fff;
	text-decoration:none;
}

#UserActions {
	padding:0 10px;
	position:absolute;
	right:0;
	bottom:50px;
	font-size:12px;
	font-weight:bold;
	color:#fff;	
}

#UserActions span {
	margin-bottom:15px;
	padding:0 5px;
	display:block;
	text-align:right;
}

#Search {
	width:215px;
	height:35px;
	background:url('../images/ui/search.png') no-repeat 0 0;
	overflow:hidden;
}

#Search input {
	margin:3px 0 0;
	padding:8px 10px 8px 35px;
	display:block;
	width:170px;
	font-size:12px;
	font-weight:bold;
	line-height:15px;
	color:#335980;
	background:none;
	border:none;
	vertical-align:middle;
}

#Navigation {
	padding:10px 10px 0 10px;
	position:absolute;
	left:0;
	bottom:0;
	height:30px;
	overflow:hidden;
}

#Navigation ul {
	margin:0;
	padding:0;
	list-style:none;
}

#Navigation li {
	margin-right:5px;
	position:relative;
	height:30px;
	font-weight:bold;
	/* overflow:hidden; */
	float:left;
}

#Navigation li a {
	padding-left:20px;
	display:block;
	line-height:30px;
	background:url('../images/ui/navigation.png') no-repeat 0 0px;	
}

#Navigation li a span {
	padding-right:20px;
	display:block;
	background:url('../images/ui/navigation.png') no-repeat 100% -90px;	
}

#Navigation li a:hover {
	color:#222;
	background-position:0 -30px;
}

#Navigation li a:hover span {
	background-position:100% -120px;
}

#Navigation li.chl2_active a {
	color:#222;
	background-position:0 -60px;
}

#Navigation li.chl2_active a span {
	background-position:100% -150px;
}

#BreadCrumb {
	margin-bottom:10px;
	font-size:12px;
}

#Main {
	margin:20px 0;
	padding:0 10px;
	overflow:hidden; /* ie */
	height:1%; /* ie */
}

#Main.home {
	background:url('../images/ui/main_home.gif') 0 0 repeat-y;
}

#Main.twoColumn {
	background:url('../images/ui/main_twoColumn.gif') 0 0 repeat-y;
}

#Main.threeColumn {
	background:url('../images/ui/main_threeColumn.gif') 0 0 repeat-y;
}

#Main.home #Content {
	padding-right:20px;
	width:700px;
	float:left;
}

#Main.twoColumn #Content {
	padding-left:20px;
	position:relative;
	width:700px;
	float:left;
}

#Main.threeColumn #Content {
	padding:0 20px;
	width:460px;
	float:left;
}

#Main #Content {
	overflow:hidden;
}

#Main .sidebar {
	width:220px;
	overflow:hidden;
}

#SubNavigation {
	margin-bottom:20px;
	padding-bottom:10px;
	background:#dfe9f2 url('../images/ui/subNavigation.png') 0 100% no-repeat;
}

#SubNavigation h2 {
	padding:5px 10px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	background:#17324d url('../images/ui/subNavigation_h2.png') 0 0 no-repeat;
}

#SubNavigation ul {
	padding:0 10px;
}

#SubNavigation li.chl2_active a {
	color:#a64b42;
}

#Footer {
	margin:10px;
	padding-top:5px;
	padding-bottom:10px;
	font-size:12px;
	color:#666;
	border-top:1px solid #bcbcbc;
}

#Feature {
	margin-bottom:20px;
	position:relative;
	overflow:hidden;
	clear:both;	
}

#Feature img {
	display:block;
}

#FeatureItems img {
	display:block;
}

#Pager {
	position:absolute;
	bottom:10px;
	right:10px;
	z-index:900;
}

#Pager .pages {
	display:inline;
}

#Pager a,
#Pager a:visited {
	margin-left:9px;
	display:block;
	width:22px;
	height:22px;
	font-weight:bold;
	text-align:center;
	line-height:22px;
	color:#fff;
	background:#000;
	float:left;	
}

#Pager a.activeSlide,
#Pager a:visited.activeSlide,
#Pager a:hover {
	color:#000;
	background:#fff;
}

#Pager .pause,
#Pager .resume {
	margin-left:9px;
	display:block;
	width:22px;
	height:22px;
	font-weight:bold;
	text-align:center;
	line-height:22px;
	text-indent:-900em;
	color:#fff;
	float:left;
	overflow:hidden;
}

#Pager .pause {
	background:#000 url('../images/ui/pager_actions.png') no-repeat 0 -44px;
}

#Pager .resume {
	background:#000 url('../images/ui/Pager_actions.png') no-repeat 0 0;
}

#Pager .pause:hover {
	background-position:0 -66px;
	background-color:#fff;
	cursor:pointer;
}

#Pager .resume:hover {
	background-position:0 -22px;
	background-color:#fff;
	cursor:pointer;
}

/* CSS 3 */
#Pager a,
#Pager .pause,
#Pager .resume {
	-moz-border-radius:5px; /* FF1+ */
	-webkit-border-radius:5px; /* Safari 3+, Chrome */
	border-radius:5px; /* Opera 10.5, IE 9 */	
}

#Banner img {
	display:block;
}

li.announcement {
	padding-left:20px;
	background:url('../images/ui/announcement.png') no-repeat 0 2px;
}

li.wiki {
	padding-left:20px;
	background:url('../images/ui/wiki.png') no-repeat 0 2px;
}

/* forms */

input, textarea, select, legend {
	font-family:"Arial", sans-serif;
	font-size:14px;
	color:#222;
}

h1 input {
	font-size:24px;
}

fieldset {
	border:1px solid #bfd3e5;
}

.popup {
	padding:10px;
}

/*

In CHL many of the classes have shared padding values.

You can use the following selectors to apply your own padding values in bulk, or you can leave the defaults.

Note: This is a good starting point, but if you want pixel perfection between CHL and the base design you will have to go further.

*/

/* elements with default padding:0.25em 0.5em; */

.chl2_row,
.chl2_table td,
.chl2_table th,
.chl2_validationMessage,
.chl2_w_sitemap h2,
.chl2_w_subNode li,
.chl2_form label {
	padding:5px 10px;
}

/* elements with default padding:0.5em; */

.chl2_panel .chl2_body, .chl2_2ColumnList,
.chl2_tabList li a,
.chl2_systemMessage .chl2_warning, 
.chl2_systemMessage .chl2_error, 
.chl2_systemMessage .chl2_success,
.chl2_systemMessage .chl2_information,
.chl2_title h2,
.chl2_form,
.chl2_form .chl2_formItem,
.chl2_form fieldset,
.chl2_blogItem,
.chl2_w_galleryImageView_image .chl2_imageTextGroup,
.chl2_w_comment .chl2_footer,
.chl2_w_activity .chl2_footer {
	padding:10px;
}

/* elements with default padding:0.5em 0; */

.chl2_w_latestNews .chl2_row,
.chl2_w_latestNews .chl2_left,
.chl2_w_latestNews .chl2_left .chl2_text,
.chl2_w_galleryThumbView .chl2_row,
.chl2_w_galleryImageView_preview .chl2_row,
.chl2_w_comment .chl2_commentPreview {
	padding:10px 0;
}

/* elements with default padding:0 0.5em; */
.chl2_horizontalList li,
.chl2_w_comment .chl2_wrapper {
	padding:0 10px;
}

/* elements with default padding:0 0.25em; */

.chl2_new,
.chl2_warning,
.chl2_error,
.chl2_success,
.chl2_information,
.chl2_table.chl2_labelValueGroup td,
.chl2_table.chl2_labelValueGroup th {
	padding:0 5px;
}

/* elements with default padding:0.25em 0; */

.chl2_2Column .chl2_columnCollection .chl2_left,
.chl2_2Column .chl2_columnCollection .chl2_right,
.chl2_paginatedSet .chl2_header,
.chl2_paginatedSet .chl2_footer,
.chl2_labelledField,
.chl2_w_compactEvent .chl2_2Column,
.chl2_w_compactNews .chl2_2Column,
.chl2_w_galleryThumbView .chl2_text,
.chl2_w_galleryImageView_preview .chl2_text,
.chl2_w_galleryImageView_image .chl2_text {
	padding:5px 0;
}

/* elements with default padding-left:1em; */

.chl2_w_compactEvent .chl2_text,
.chl2_w_compactNews .chl2_text,
.chl2_w_latestNews .chl2_right .chl2_text,
.chl2_blogItem .chl2_text {
	padding-left:10px;
}

/* elements with default padding-top:0.5em; */
.chl2_w_comment .chl2_row {
	padding-top:10px;
}

/* elements with default padding-bottom:0.5em; */
.chl2_w_comment .chl2_row .chl2_comment {
	padding-bottom:10px;
}

/* end padding resets */

/*

Just like padding there is a shared border colour.

You can use the following selectors to apply your own border colour in bulk, or you can leave the default.

*/

.chl2_row,
.chl2_rowCollection,
.chl2_row .chl2_row,
.chl2_paginatedSet .chl2_header,
.chl2_paginatedSet .chl2_footer,
.chl2_table td, .chl2_table th,
.chl2_listRow li,
.chl2_w_compactEvent .chl2_2Column,
.chl2_w_compactNews .chl2_2Column,
.chl2_w_latestNews,
.chl2_w_subNode .chl2_header,
.chl2_w_subNode li,
.chl2_w_sitemap h2,
.chl2_blogItem,
.chl2_w_comment .chl2_wrapper,
.chl2_w_comment .chl2_footer,
.chl2_w_comment .chl2_commentPreview {
	border-color:#bfd3e5;
}

/* end border resets */

/* margin resets */

.chl2_systemMessage,
.chl2_form fieldset,
.chl2_w_comment .chl2_footer,
.chl2_w_comment .chl2_commentPreview {
	margin-bottom:20px;
}

/* end margin resets */

.chl2_odd,
.chl2_w_comment .chl2_odd .chl2_row {

}

.chl2_even,
.chl2_w_comment .chl2_even .chl2_row {
	/* background-color:#f2f6fa; */
	background-color:#fafcff;
}

/*** end resets ***/

.chl2_pagination {
	text-align:right;
}

.chl2_footer .chl2_previousInactive {
	background-position:0 -576px;
}

.chl2_tabBody {
	padding:0;
	position:relative;
	top:-1px;
	height:1%; /* for ie */
	z-index:1;
	border-bottom:none;
	border-left:none;
	border-right:none;
}

.chl2_tabList {
	padding:0 10px;
	padding-top:34px; /* allow space for mecc_alert */
	position:relative;
	left:0;
	z-index:2;
}

.chl2_tabList li,
.chl2_tabList li.chl2_last {
	margin-right:5px;
	position:relative;
	top:0;
	border:solid 1px #bfd3e5;
}

.chl2_tabList li a,
.chl2_tabList li a:visited {
	padding:5px 10px;
	font-weight:bold;
	color:#222;
	background:#a9c5e2 url('../images/ui/chl2_tabSet_li.png') repeat-x 0 0;
}

.chl2_tabList li a:hover {
	background:#fff;
}

.chl2_tabList li.chl2_active {
	padding-bottom:1px;
	position:relative;
	top:0;
	border-bottom:none;
}

.chl2_tabList li.chl2_active a,
.chl2_tabList li.chl2_active a:visited {
	background:#fff;
}

.chl2_tabBody {
	padding-top:20px;
	border-color:#bfd3e5;
}

.chl2_row h2 {
	margin-top:5px;
}

.chl2_listRow li {
	margin-bottom:4px;
	padding-bottom:5px;
}

#Content .chl2_listRow {
	margin-bottom:20px;
}

.chl2_listRow .chl2_form {
	margin-bottom:0;
}

.chl2_page_2Column {
	background-image:url('../images/ui/divider.gif');
}

.chl2_systemMessage h2 {
	color:#222;
}

/* one column width */
/* half and half */
/*
#Content .chl2_page_2Column .chl2_page_column {
	width:460px;
}
*/

/* one column width */
/* 2/3 and 1/3 */
#Content .chl2_page_2Column {
	background-position:570px 0;
}

#Content .chl2_page_2Column .chl2_page_column.chl2_left {
	width:560px;
	overflow:hidden; /* ie 6 */
}

#Content .chl2_page_2Column .chl2_page_column.chl2_right {
	width:360px;
	overflow:hidden; /* ie 6 */
}

/* two column width */
#Main.home #Content .chl2_page_2Column .chl2_page_column,
#Main.twoColumn #Content .chl2_page_2Column .chl2_page_column  {
	width:340px;
	overflow:hidden; /* ie 6 */	
}

/* three column width */
#Main.threeColumn #Content .chl2_page_2Column .chl2_page_column {
	width:210px;
	overflow:hidden; /* ie 6 */	
}

#Main.home #Content .chl2_page_2Column,
#Main.twoColumn #Content .chl2_page_2Column,
#Main.threeColumn #Content .chl2_page_2Column {
	background-position:50% 0;
}

/* two column forms */
.chl2_form .chl2_page_2Column .chl2_page_column {
	width:47.5% !important;
	overflow:hidden; /* ie 6 */	
}

.chl2_form .chl2_page_2Column {
	margin:0;
	background:none !important;
}

.chl2_w_sitemap h2,
.chl2_title h2,
.chl2_table th,
.chl2_w_galleryImageView_image .chl2_imageTextGroup {
	background-color:#dfe9f2;
}

.chl2_table,
.chl2_rowCollection,
.chl2_2ColumnList,
.chl2_tabSet,
.chl2_w_subNode,
.chl2_w_subNodeList,
.chl2_w_comment,
.chl2_w_latestNews,
.chl2_w_compactNews,
.chl2_w_compactEvent,
.chl2_w_sitemap,
.chl2_w_blog1,
.chl2_w_galleryThumbView,
.chl2_w_galleryImageView,
.chl2_page_2Column,
.chl2_form,
.chl2_w_activity {
	margin-bottom:20px;
}

.chl2_w_compactEvent .chl2_2Column,
.chl2_w_compactNews .chl2_2Column,
.chl2_w_latestNews .chl2_2Column,
.chl2_2Column .chl2_columnCollection,
.chl2_2ColumnList {
	background-image:url('../images/ui/chl_2Column.gif');
}

.chl2_helperText span {
	margin-top:5px;
	font-size:12px;
	color:#5C660a;
}

.chl2_w_galleryThumbView .chl2_text,
.chl2_w_galleryImageView_preview .chl2_text {
	font-size:12px;
}

/* panel */

.chl2_panel {
	margin-bottom:20px;
	background:#dfe9f2;
}

.chl2_panel .chl2_wrapper {
	position:relative;
	background:url('../images/ui/chl2_panel_top.gif') no-repeat 0 0;
}

.chl2_panel .chl2_header {
	height:10px;
	background:url('../images/ui/chl2_panel_top.gif') no-repeat 100% 0;
}

.chl2_panel .chl2_body {
	padding:0 10px 10px 10px;
	background:url('../images/ui/chl2_panel_bottom.gif') no-repeat 0 100%;
}

.chl2_panel .chl2_footer {
	position:absolute;
	bottom:0;
	left:0;
	height:10px;
	width:100%;
	background:url('../images/ui/chl2_panel_bottom.gif') no-repeat 100% 100%;
}

.chl2_panel ul,
.chl2_panel ol {
	margin-bottom:0;
}

/* forms */

.chl2_form {
	background-color:#f2f6fa;
}

/* CSS 3 */
.chl2_form {
     -moz-border-radius:5px; /* FF1+ */
  -webkit-border-radius:5px; /* Saf3+, Chrome */
          border-radius:5px; /* Opera 10.5, IE 9 */
}

.chl2_form .chl2_formItem {
	margin-bottom:10px;
	padding:0;
}

legend,
.chl2_form legend {
	font-weight:normal;
}

label,
.chl2_form label {
	margin:0;
	margin-bottom:5px;
	padding:0;
	display:block;
	width:auto;
	font-weight:bold;
	text-align:left;
	float:none;
}

.chl2_form label span {
	margin-left:5px;
}

.chl2_w_comment .chl2_form label span {
	margin:0;
}

label em {
	font-size:0.786em;
	font-weight:bold;
	font-style:normal;
	color:#808080;
}

label em code {
	color:#337700;
}

.chl2_field {
	padding:0;
	float:none;
}

.chl2_textbox,
.chl2_password,
.chl2_textarea,
.chl2_multipleSelect {
	padding:4px 5px;
	border:1px solid #bfd3e5;
}

.chl2_textarea {
	width:90%;
}

.chl2_error .chl2_textbox,
.chl2_error .chl2_password,
.chl2_error .chl2_textarea,
.chl2_error .chl2_multipleSelect {
	border-color:#d96d6d;
}

.chl2_validationMessage {
	margin:0;
	margin-top:5px;
	padding:0;
	font-size:12px;
	font-weight:normal;
	color:#a63a32;
	background:none;
}

.chl2_labelledField label {
	display:inline;
	font-weight:normal;
}

.chl2_form .chl2_formItem.chl2_error {
	padding:10px !important;
}

.chl2_formItem.chl2_left .chl2_field {
	margin:0;
	margin-right:10px;
	padding:0;
	display:block;
	float:left;
}

.chl2_formItem.chl2_left label {
	margin:0;
	margin-top:3px;
	margin-right:10px;
	display:block;
	float:left;
}

.chl2_formItem.chl2_left .chl2_select {
	margin-top:2px;
}

.chl2_formItem.chl2_left .chl2_textbox {
	margin:0;	
}

.chl2_form .chl2_labelledField label {
	margin:0;
}

.chl2_form .chl2_labelledField .chl2_checkbox {
	vertical-align:top;
}

.chl2_majorButton {
	margin:0;
	margin-right:5px;
	padding:0 15px 2px 15px;
	width:auto;
	height:30px;
	font-weight:bold;
	text-shadow:0 1px #edf4fa;
	background:url('../images/ui/chl2_majorButton.png') repeat-x 0 0;
	border:1px solid #86a3bf;
	border-top:1px solid #c8d9ea;
	border-bottom:1px solid #3d5266;
}

.chl2_button {
	margin:0;
	margin-right:5px;
	padding:0 15px 2px 15px;
	width:auto;
	height:30px;
	text-shadow:0 1px #f2f2f2;
	background:url('../images/ui/chl2_button.png') repeat-x 0 0;
	border:1px solid #ccc;
	border-top:1px solid #ddd;
	border-bottom:1px solid #888;
}

.chl2_majorButton:hover,
.chl2_button:hover {
	color:#1a4980;
	cursor:pointer;
}

.chl2_minorButton {
	margin:0;
	margin-right:5px;
	padding:0;
	border:none;
	background:none;
	font-size:14px;
	color:#1f5c99;
	cursor:pointer !important;
}

.chl2_majorButton:disabled,
.chl2_button:disabled,
.chl2_minorButton:disabled {
	color:#666;
}

.chl2_right .chl2_majorButton,
.chl2_right .chl2_button,
.chl2_right .chl2_minorButton {
	margin:0;
	margin-left:5px;
}

.chl2_field .chl2_majorButton,
.chl2_field .chl2_button,
.chl2_field .chl2_minorButton {
	margin:0;
}

.chl2_minorButton:hover {
	color:#222;
}

/* central */

a.chl2_minorLink,
a.chl2_minorLink:visited {
	color:#222;
	text-decoration:underline;
}

.chl2_minorLink:hover {
	text-decoration:none;
}

.chl2_w_activity .chl2_2Column .chl2_columnCollection {
	background:none;
}

.chl2_w_activity .chl2_2Column .chl2_columnCollection .chl2_left {
	margin-top:10px;
	width:13.75%;
	font-weight:bold;
}

.chl2_w_activity .chl2_2Column .chl2_columnCollection .chl2_right {
	margin-top:10px;
	width:83.75%;
}

.chl2_w_activity ul {
	margin:0;
	padding:0;
	list-style:none;
	list-style-position:outside;
}

.chl2_w_activity li {
	margin-bottom:10px;
}

.chl2_w_activity .chl2_footer {
	font-size:12px;
	font-weight:bold;
	background:#f2f6fa;
}

.quickLinks ul {
	margin-bottom:10px;
}

.quickLinks .chl2_addLink {
	font-size:12px;
	font-weight:bold;
}

p.chl2_actions a {
	margin-left:0;
	margin-right:1em;
	font-size:12px;
	font-weight:bold;	
}

.chl2_header .chl2_actions {
	top:3px; /* shift for baseline */
	font-size:12px;
	font-weight:bold;
}

.chl2_information {
	background:#ffea7f;
	border:none;
}

/* CSS 3 */

.chl2_systemMessage .chl2_information {
     -moz-border-radius:5px; /* FF1+ */
  -webkit-border-radius:5px; /* Saf3+, Chrome */
          border-radius:5px; /* Opera 10.5, IE 9 */
}

.chl2_table .chl2_sortUp,
.chl2_table .chl2_sortDown {
	padding:0;
	padding-right:20px;
}

.chl2_table .chl2_sortUp {
	background-position:100% -192px;
}

.chl2_table .chl2_sortDown {
	background-position:100% -224px;
}

/* comment */

.chl2_w_comment .chl2_footer {
	background:#f2f6fa;
}

.chl2_w_comment .chl2_date {
	color:#808080;
}

.chl2_w_comment .chl2_reply {
	margin:5px 0;
}

.chl2_w_comment .chl2_commentForm .chl2_formItem {
	margin-bottom:6px;
}

.chl2_w_comment .chl2_commentForm .chl2_field {
	display:block;
	overflow:hidden;
}

.chl2_w_comment .chl2_commentForm label {
	height:20px;
	line-height:20px;
}

.chl2_w_comment .chl2_commentForm .chl2_left .chl2_textbox {
	width:90%;
}

/* data grid */

.chl2_w_dataGrid .chl2_button, 
.chl2_w_dataGrid .chl2_majorButton {
	height:26px;
}

.chl2_w_dataGrid .chl2_footer .chl2_previous {
	background-position:0 -575px;
}

.chl2_w_dataGrid .chl2_footer .chl2_next {
	background-position:100% -511px;
}

.chl2_w_dataGrid_filter .chl2_textbox {
	padding:3px 5px 4px 5px;
}

.chl2_w_dataGrid_actions .chl2_textbox {
	padding:3px 5px 4px 5px;
}

.chl2_w_dataGrid_filter {
	padding-top:10px !important;
	padding-bottom:20px !important;
}

.chl2_w_dataGrid .chl2_removeLink,
.chl2_w_dataGrid .chl2_addLink {
	margin-top:1px !important;
}

/* MECC ONLY */

.mecc_high,
.mecc_open,
.mecc_resolved,
.mecc_closed,
.mecc_important {
	padding-left:20px;
}

span.mecc_high,
span.mecc_open,
span.mecc_resolved,
span.mecc_closed,
span.mecc_important {
	display:block;
}

.chl2_w_dataGrid_data span.mecc_high,
.chl2_w_dataGrid_data span.mecc_open,
.chl2_w_dataGrid_data span.mecc_resolved,
.chl2_w_dataGrid_data span.mecc_closed,
.chl2_w_dataGrid_data span.mecc_important {
	padding-left:20px !important;
}

.mecc_high {
	background:url('../images/ui/mecc_high.png') no-repeat 0 0;
}

.mecc_open {
	background:url('../images/ui/mecc_open.png') no-repeat 0 0;
}

.mecc_resolved {
	background:url('../images/ui/mecc_resolved.png') no-repeat 0 0;
}

.mecc_closed {
	background:url('../images/ui/mecc_closed.png') no-repeat 0 0;
}

.mecc_important {
	background:url('../images/ui/mecc_important.png') no-repeat 0 0;
}

.mecc_expand {
	padding-left:20px;
	background:url('../images/ui/mecc_expand_contract.png') no-repeat 0 0;
}

.mecc_contract {
	padding-right:20px;
	background:url('../images/ui/mecc_expand_contract.png') no-repeat 100% 100%;
}

.mecc_legend {
	padding-top:5px;
	font-size:12px;
	font-weight:bold;
	color:#666;
	border-top:1px solid #bfd3e5;
}

.mecc_legend span {
	margin-right:1em;
	display:block;
	float:left;
	line-height:20px;
}

.mecc_map {
	border:2px solid #bfd3e5;
	margin-bottom:10px;
}

.mecc_mapSystem.large .mecc_map {
	width:736px;
	float:left;
}

#Content .chl2_page_2Column.large .chl2_form,
#Content .chl2_page_2Column.large .chl2_listRow {
	margin:0;
}

.mecc_mapSystem.large fieldset {
	width:150px;
	float:right;
}

.mecc_mapSystem.large .mecc_coordinates {
	clear:both;
}

.mecc_map img {
	margin:0;
	padding:0;
	display:block;
}

.mecc_coordinates span {
	font-weight:bold;
}

.mecc_mapSystem {
	font-size:12px;
}

.mecc_mapSystem p {
	margin-bottom:5px;
	font-weight:bold;
}

.mecc_mapSystem .mecc_coordinates {
	margin-bottom:10px;
}

.mecc_mapSystem fieldset {
	padding:0 10px;
	margin:0;
}

.mecc_mapSystem legend {
	font-size:12px;
}

.mecc_mapSystem .chl2_formItem {
	margin:0;
}

.mecc_message {
	margin-bottom:20px;
}

.mecc_message .chl2_formItem {
	margin:0;
}

.mecc_message .chl2_textarea {
	margin:0;
	display:block;
	width:528px;
}

.mecc_message .chl2_footer {
	padding:10px;
	font-size:12px;
	font-weight:bold;
	/* background:#f2f6fa; */
	background:#cfdae5;
}

.mecc_tags {
	margin-bottom:20px;
}

.mecc_actionBar {
	padding-top:10px;
	font-size:12px;
	font-weight:bold;
	border-bottom:2px solid #bfd3e5;
	overflow:hidden;
}

.mecc_actionBar h2 {
	margin-bottom:20px;
}

.mecc_actionBar .chl2_form {
	margin:0;
	background:#f2f6fa url('../images/ui/mecc_actionBar.png') repeat-x 0 0;
}

/* CSS 3 */
.mecc_actionBar .chl2_form {
	-moz-border-radius:0; /* FF1+ */
	-webkit-border-radius:0; /* Safari 3+, Chrome */
	border-radius:0; /* Opera 10.5, IE 9 */	
}

.mecc_actionBar .chl2_form a {
	margin-left:1em;
}

li .mecc_alert {
	position:absolute;
	top:-10px;
	right:-5px;
	display:block;
	width:24px;
	height:24px;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	line-height:24px;
	color:#fff;
	background:url('../images/ui/mecc_alert.png') no-repeat 0 0;	
}

.chl2_tabSet li .mecc_alert {
	top:-15px;
}

.mecc_settings {
	position:absolute;
	top:0;
	right:0;
	font-size:12px;
	font-weight:bold;
}

.chl2_table .mecc_high,
.chl2_table .mecc_open,
.chl2_table .mecc_resolved,
.chl2_table .mecc_closed,
.chl2_table .mecc_important {
	margin:auto;
	padding:0;
	display:block;
	height:20px;
	width:20px;
	text-indent:-900em;
}

.chl2_table p {
	margin-bottom:10px;
}

.chl2_table .chl2_date,
.chl2_listRow .chl2_date {
	font-size:12px;
	color:#808080;
}

.announcements .chl2_author {
	margin-bottom:5px;
	display:block;
	font-size:12px;
	font-weight:bold;
}

.chl2_actions .chl2_left,
.chl2_actions .chl2_right {
	margin-bottom:20px;
}

.chl2_listRow .chl2_right .chl2_actions {
	margin-left:1em;
	font-size:12px;
	font-weight:bold;
	border-left:1px solid #bfd3e5;
}

.chl2_listRow .chl2_actions .chl2_addLink {
	margin:0;
	font-size:12px;
	font-weight:bold;
}